<%- include('layout.ejs'); %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class='text-center'><a href="/"><img src="./images/home_icon.png" width="80" height="80" alt=""></a>
                    TradeMe Property Price </h2>
                <br></br>
                <div class="card text-center bg-light">
                    <h5 class="card-header">
                        <%= address %>
                    </h5>
                    <div class="card-body">
                        <h3>Listing Price: <h3 class="text-success"> <%= price %> </h3>
                        </h3>
                    </div>
                    <a class="btn btn-warning btn-lg btn-block" target="_blank" href=<%=listing_url %>>View TradeMe
                            Listing</a>
                </div>
                <div class="d-grid gap-2">
                    <a href="/"
                        class="btn btn-primary btn-lg btn-block">New Search</a>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>